h2,
h3,
p,
h1,
a,
b,
ul,
div {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  max-width: 100%;
}

h2,
h3 {
  font-weight: 700;
  line-height: 1.17;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.link:focus,
.link:hover {
  color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.container {
  width: calc(100% - 30px);
  max-width: 1170px;
  margin: 0 auto 0;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-wrap {
    max-width: 1000px;
  }
}

.button:focus,
.button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.visually-hidden, .checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.page-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .page-header {
    font-size: 14px;
    line-height: 1.14;
  }
  .page-header .is-hidden {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .page-header .is-hidden {
    margin-left: 10px;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    line-height: 1.15;
  }
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .page-header__container {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 65px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    padding: 60px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__nav {
    margin-right: 84px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__nav li + li {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__nav li + li {
    margin-left: 50px;
  }
}

.page-header__contacts-list {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .page-header__contacts-list {
    padding-bottom: 60px;
  }
  .page-header__contacts-list li + li {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__contacts-list li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-header__contacts-list li + li {
    margin-left: 30px;
  }
}

.page-header__contacts-icon {
  margin-right: 10px;
  fill: #afb1b8;
  stroke: #afb1b8;
  stroke-width: 1px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.page-header__contacts-link {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__contacts-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contacts-link {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.page-header__contacts-link:hover, .page-header__contacts-link:focus {
  color: #2196f3;
}

.page-header__contacts-link:hover .page-header__contacts-icon,
.page-header__contacts-link:focus .page-header__contacts-icon {
  fill: #2196f3;
  stroke: #2196f3;
  stroke-width: 2px;
}

.nav__link {
  color: #212121;
  display: inline-block;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.page-header__nav .nav__link--current {
  color: #2196f3;
  position: relative;
}

@media screen and (max-width: 768px) {
  .page-header__nav .nav__link--current {
    padding: 12px 0;
  }
}

.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-color: #2196f3;
  border-radius: 2px 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .drop-down-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  .drop-down-button:hover, .drop-down-button:focus {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .drop-down-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .drop-down-icon .open {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .is-hidden .drop-down-menu {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  .is-hidden + .drop-down-button .open {
    display: block;
  }
  .is-hidden + .drop-down-button .close {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .drop-down-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    background: white;
    border-top: 1px solid #ececec;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.04);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
    -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
    transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
    transition: transform 0.2s linear, opacity 0.2s linear;
    transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear;
  }
}

@media screen and (min-width: 768px) {
  .drop-down-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo--tail {
  color: #212121;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.header__logo--tail:hover, .header__logo--tail:focus {
  color: #2196f3;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo--tail {
  color: #ffffff;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.footer__logo--tail:hover, .footer__logo--tail:focus {
  color: #2196f3;
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.62em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-overlay {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(".../images/hero-background/hero-mobile-480-400.webp");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(".../images/hero-background/hero-mobile-480-400.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.no-webp .hero-overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(".../images/hero-background/hero-mobile-480-400.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(".../images/hero-background/hero-mobile-480-400.jpg");
}

.hero__button--primary {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.hero__button--primary:hover,
.hero__button--primary:focus {
  background-color: #188ce8;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.hero-overlay {
  max-height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(..//images/hero-background/hero-mobile-480-400.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(..//images/hero-background/hero-mobile-480-400.jpg);
  background-color: #757575;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(..//images/hero-background/hero-mobile-480-400.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(..//images/hero-background/hero-mobile-480-400.jpg);
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(..//images/hero-background/hero-mobile-480-400@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(..//images/hero-background/hero-mobile-480-400@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(..//images/hero-background/hero-tablet-768-400.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(..//images/hero-background/hero-tablet-768-400.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(..//images/hero-background/hero-tablet-768-400@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(..//images/hero-background/hero-tablet-768-400@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(..//images/hero-background/hero-desctop-1600-600.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(..//images/hero-background/hero-desctop-1600-600.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(..//images/hero-background/hero-desctop-1600-600@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(..//images/hero-background/hero-desctop-1600-600@2x.jpg);
  }
}

.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.backdrop.is-hidden {
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  pointer-events: none;
}

.modal {
  position: absolute;
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px);
  top: 60%;
  left: 53%;
  overflow: auto;
  -webkit-transform: translate(-55%, -51%) scale(1);
          transform: translate(-55%, -51%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  color: #757575;
}

.close-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1%;
  right: 1%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;
}

.close-modal:hover .icon-close {
  fill: #2196f3;
  cursor: pointer;
}

.icon-close {
  fill: #212121;
}

.form-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  background-color: #ffffff;
}

.form-title {
  display: block;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 1.15;
  }
}

.form-field {
  position: relative;
}

.form-label {
  display: block;
  position: absolute;
  top: 30%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  line-height: 1.33;
  letter-spacing: 0.01em;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  margin-bottom: 28px;
}

.form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}

.form-textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.field-textarea {
  position: relative;
}

.form-label {
  letter-spacing: 0.01em;
}

.form-textarea:focus + .form-label {
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
  color: #2196f3;
  font-size: 12px;
}

.form-input:focus + .form-label {
  -webkit-transform: translate(-26px, -40px);
          transform: translate(-26px, -40px);
  color: #2196f3;
  font-size: 12px;
}

.form-textarea:not(:placeholder-shown) .form-label {
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
  color: #2196f3;
  font-size: 12px;
}

.form-input:not(:placeholder-shown) .form-label {
  -webkit-transform: translate(-26px, -40px);
          transform: translate(-26px, -40px);
  color: var(--accent-text-color);
  font-size: 12px;
}

.field-textarea .form-label {
  position: absolute;
  top: 21px;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

@media screen and (min-width: 1200px) {
  .form-label {
    letter-spacing: 0.03em;
  }
}

.icon-label {
  position: absolute;
  top: 30%;
  left: 16px;
  fill: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.form-input:focus ~ .icon-label,
.form-input:not(:placeholder-shown) ~ .icon-label {
  fill: #2196f3;
}

.checkbox-form {
  font-size: 12px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .checkbox-form {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-form input {
  margin-right: 10px;
  cursor: pointer;
}

.checkbox-form .check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox:checked + .check-icon {
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  border-color: transparent;
  background-size: contain;
  background-origin: border-box;
}

.link.check-up {
  color: #2196f3;
  text-decoration: underline;
}

.link.check-up:hover, .link.check-up:focus {
  cursor: pointer;
  font-weight: 500;
}

.submit-form {
  text-align: center;
}

.submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  padding: 10px 55px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.submit-button:hover, .submit-button:focus {
  background-color: #188ce8;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.features__subtitle {
  font-size: inherit;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .features__item {
    max-width: 450px;
  }
  .features__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
    max-width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 30px * 3) / 4);
    max-width: 270px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__text {
  line-height: 1.7;
  color: #757575;
}

.features__layout {
  height: 120px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-we-do {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .section-we-do {
    display: none;
  }
}

.section-we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-we-do__item {
  width: calc((100% - 30px * 2) / 3);
  position: relative;
}

.section-we-do__item:hover {
  cursor: pointer;
}

.section-we-do__subtitle {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  opacity: 0.3;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 50px;
  padding-right: 50px;
}

.section-we-do__item:hover .section-we-do__subtitle {
  opacity: 1;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .section-team__title {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .section-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.section-team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
  border: #afb1b8;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  min-width: 230px;
}

@media screen and (max-width: 767px) {
  .section-team__item {
    max-width: 450px;
    max-height: 482px;
  }
  .section-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-team__item {
    width: calc((100% - 4 * 15px) / 2);
    max-width: 354px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team__item {
    -ms-flex-preferred-size: calc((100% - 30px * 3) / 4);
        flex-basis: calc((100% - 30px * 3) / 4);
  }
}

.card__item-info {
  padding-top: 30px;
  padding-bottom: 24px;
}

.card__item-name {
  font-size: 16px;
  font-weight: 500;
}

.card__item-profession {
  font-size: 16px;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.card__social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__social-list li:not(:last-child) {
  margin-right: 10px;
}

.card__social-link:hover, .card__social-link:focus {
  background-color: #2196f3;
}

.card__social-link:hover .icon-social, .card__social-link:focus .icon-social {
  fill: #ffffff;
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.social-link--background:hover, .social-link--background:focus {
  background-color: #2196f3;
}

.icon-social {
  fill: #afb1b8;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.footer__icon-social {
  fill: #ffffff;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .clients__list {
    margin: -6px;
  }
}

.clients__item {
  width: 100%;
  margin: 0 auto;
  max-width: 210px;
}

@media screen and (max-width: 479px) {
  .clients__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 480px) {
  .clients__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 6 * 15px) / 3);
    max-width: 230px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 12 * 15px) / 6);
    max-width: 170px;
  }
}

.clients__link {
  display: block;
  border-color: #afb1b8;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  fill: #afb1b8;
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.clients__link:hover, .clients__link:focus,
.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  border-color: #2196f3;
  border-width: 2px;
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .clients__link:hover, .clients__link:focus,
  .clients__link:hover .clients__logo,
  .clients__link:focus .clients__logo {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
}

.clients__logo {
  fill: #afb1b8;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

footer {
  color: #ffffff;
  background-color: #2f303a;
}

footer a {
  display: block;
}

@media screen and (max-width: 480px) {
  .footer-container {
    padding-left: -15px;
    padding-right: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-container {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    padding-top: 45px;
    padding-bottom: 28px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.address__item {
  font-style: normal;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__mail,
.footer__tel {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

.footer__mail:hover, .footer__mail:focus,
.footer__tel:hover,
.footer__tel:focus {
  color: #2196f3;
}

.join-us__title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  display: block;
}

@media screen and (max-width: 767px) {
  .join-us {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-us {
    margin-left: 165px;
  }
}

.footer__social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.footer__social-list li:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}

.subscribe__title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  display: block;
}

.subscribe__input {
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 20px;
  padding: 15px 16px 15px;
}

@media screen and (max-width: 1199px) {
  .subscribe__input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe__icon-send {
  fill: #ffffff;
  margin-left: 10px;
}

.subscribe__button {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
  margin-top: 20px;
  min-width: 200px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 1ms;
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-bottom: 20px;
  }
}

.subscribe__button:hover, .subscribe__button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .subscribe__button:hover, .subscribe__button:focus {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

.subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-webkit-input-placeholder:focus {
  border: 2px solid #2196f3;
}

.subscribe__input:-ms-input-placeholder:focus {
  border: 2px solid #2196f3;
}

.subscribe__input::-ms-input-placeholder:focus {
  border: 2px solid #2196f3;
}

.subscribe__input::placeholder:focus {
  border: 2px solid #2196f3;
}

.subscribe__input, .subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__input, .subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__input, .subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__input, .subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */