.clients {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    border-color: $border-color;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    fill: $border-color;

    width: 170px;
    height: 90px;

    @include centerFlex;

    transform: scale(1, 1);
    @include mixinTransition();

    &:hover,
    &:focus,
    &:hover .clients__logo,
    &:focus .clients__logo {
      border-color: $accent-text-color;
      border-width: 2px;
      transform: scale(1.3, 1.3);
      fill: $accent-text-color;
    }
  }

  &__logo {
    fill: $border-color;
    @include mixinTransition();
  }

  &__icon-1 {
    width: 44px;
    height: 49px;
  }

  &__icon-2 {
    width: 40px;
    height: 52px;
  }

  &__icon-3 {
    width: 41px;
    height: 43px;
  }

  &__icon-4 {
    width: 80px;
    height: 42px;
  }

  &__icon-5 {
    width: 59px;
    height: 47px;
  }

  &__icon-6 {
    width: 88px;
    height: 45px;
  }
}
