.clients {
  &__list {
    @include centerFlex();
    flex-wrap: wrap;
    @media screen and (min-width: 480px) {
      margin: -15px;
    }
  }

  &__item {
    width: 100%;
    margin: 0 auto;
    max-width: 210px;

    @media screen and (max-width: 479px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: $mobile) {
      width: calc((100% - 4 * 15px) / 2);

      margin: 15px;
    }

    @media screen and (min-width: $tablet) {
      width: calc((100% - 6 * 15px) / 3);

      max-width: 226px;
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 12 * 15px) / 6);
      max-width: 170px;
    }
  }

  &__link {
    display: block;
    border-color: $border-color;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    fill: $border-color;

    height: 90px;
    width: 100%;

    @include centerFlex;

    transform: scale(1, 1);
    @include mixinTransition();

    &:hover,
    &:focus,
    &:hover .clients__logo,
    &:focus .clients__logo {
      border-color: $accent-text-color;
      border-width: 2px;

      fill: $accent-text-color;

      @media screen and (min-width: $desktop) {
        transform: scale(1.3, 1.3);
      }
    }
  }

  &__logo {
    fill: $border-color;
    @include mixinTransition();
  }
}
