.visually-hidden {
  @extend %visually--hidden;
}

.hero {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;

  &__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: $dark-theme-text-color;

    margin-right: auto;
    margin-left: auto;
  }
}

.hero-overlay {
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      $transparent-background,
      $transparent-background
    ),
    url(../images/header-img.jpg);
  background-color: $paragraph-text-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__button--primary {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  text-align: center;

  color: $dark-theme-text-color;
  background-color: $accent-text-color;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  @include bordered();
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;

  transform: scale(1, 1);
  @include mixinTransition(transform, background-color);
}

.hero__button--primary:hover,
.hero__button--primary:focus {
  background-color: $hover-button-color;
  transform: scale(1.1, 1.1);
}
