.visually-hidden {
  @extend %visually--hidden;
}

.hero {
  text-align: center;

  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.62em;

    text-align: center;
    text-transform: uppercase;
    color: $dark-theme-text-color;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.hero-overlay {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  @include webp-background($img: "hero-mobile-480-400");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__button--primary {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  text-align: center;

  color: $dark-theme-text-color;
  background-color: $accent-text-color;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  @include bordered();
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  margin-top: 30px;

  transform: scale(1, 1);
  @include mixinTransition(transform, background-color);
}

.hero__button--primary:hover,
.hero__button--primary:focus {
  background-color: $hover-button-color;
  transform: scale(1.1, 1.1);
}

.hero-overlay {
  max-height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      $transparent-background,
      $transparent-background
    ),
    url(..//images/hero-background/hero-mobile-480-400.jpg);

  background-color: $paragraph-text-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 480px) {
    background-image: linear-gradient(
        $transparent-background,
        $transparent-background
      ),
      url(..//images/hero-background/hero-mobile-480-400.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          $transparent-background,
          $transparent-background
        ),
        url(..//images/hero-background/hero-mobile-480-400@2x.jpg);
    }
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        $transparent-background,
        $transparent-background
      ),
      url(..//images/hero-background/hero-tablet-768-400.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          $transparent-background,
          $transparent-background
        ),
        url(..//images/hero-background/hero-tablet-768-400@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        $transparent-background,
        $transparent-background
      ),
      url(..//images/hero-background/hero-desctop-1600-600.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          $transparent-background,
          $transparent-background
        ),
        url(..//images/hero-background/hero-desctop-1600-600@2x.jpg);
    }
  }
}
