.page-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  background-color: $main-background-color;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 10;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.14;

    & .is-hidden {
      opacity: 1;
      visibility: visible;
      pointer-events: all;

      @media screen and (min-width: $desktop) {
        margin-left: 10px;

        flex-basis: 78%;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 10px 0;

    @media screen and (min-width: $tablet) {
      padding-top: 0;
      padding-bottom: 0;
      justify-content: space-between;

      min-height: 80px;
    }
  }

  &__logo {
    @media screen and (min-width: $tablet) {
      margin-right: 65px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      padding: 60px 0;
      flex-direction: column;
      justify-content: space-between;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-right: 84px;
    }

    li + li {
      @media screen and (max-width: 767px) {
        margin-top: 40px;
      }
      @media screen and (min-width: $tablet) {
        margin-left: 50px;
      }
    }
  }

  &__contacts-list {
    @media screen and (max-width: 767px) {
      padding-bottom: 60px;
      li + li {
        margin-top: 16px;
      }
    }

    margin-left: auto;
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      li:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: center;
      li + li {
        margin-left: 30px;
      }
    }
  }

  &__contacts-icon {
    margin-right: 10px;
    fill: $border-color;
    stroke: $border-color;
    stroke-width: 1px;
    @include mixinTransition();
  }

  &__contacts-link {
    color: $paragraph-text-color;

    @include centerFlex;

    @include mixinTransition();

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      justify-content: flex-start;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 10px;
      padding-bottom: 10px;
      justify-content: flex-end;
    }

    &:hover,
    &:focus {
      color: $accent-text-color;
    }

    &:hover .page-header__contacts-icon,
    &:focus .page-header__contacts-icon {
      fill: $accent-text-color;
      stroke: $accent-text-color;
      stroke-width: 2px;
    }
  }
}

.nav__link {
  color: $main-text-color;
  display: inline-block;

  @include mixinTransition();

  @media screen and (min-width: $tablet) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .page-header__nav &--current {
    color: $accent-text-color;
    position: relative;

    @media screen and (max-width: $tablet) {
      padding: 12px 0;
    }
  }

  &--current::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-color: $accent-text-color;
    border-radius: 2px 2px;
    background-color: $accent-text-color;
  }
}

.drop-down-button {
  @media screen and (max-width: 767px) {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;

    display: inline-flex;
    align-items: center;
    margin-left: auto;

    &:hover,
    &:focus {
      fill: $accent-text-color;
    }
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.drop-down-icon .open {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.is-hidden {
  @media screen and (max-width: 767px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    & .drop-down-menu {
      transform: scaleY(0);
      opacity: 0;
    }

    & + .drop-down-button {
      & .open {
        display: block;
      }
      & .close {
        display: none;
      }
    }
  }
}

.drop-down-menu {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    background: white;
    border-top: 1px solid #ececec;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.08),
      0 4px 8px rgba(0, 0, 0, 0.04);

    flex-direction: column;
    @include centerFlex;
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
    transition: transform 0.2s linear, opacity 0.2s linear;
  }

  @media screen and (min-width: 768px) {
    @include centerFlex($justify: space-between);
  }
}
