.section-team {
  background-color: $section-accent-color;
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    @media screen and (max-width: $tablet) {
      font-size: 28px;
    }
  }

  &__list {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__item {
    background-color: $main-background-color;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
      0 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    overflow: hidden;
    border: $border-color;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    min-width: 230px;

    @media screen and (max-width: 767px) {
      max-width: 450px;
      max-height: 482px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      width: calc((100% - 4 * 15px) / 2);
      max-width: 354px;
      flex-wrap: wrap;

      margin: 15px;
    }

    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 30px * 3) / 4);
    }
  }
}

.card {
  &__item-info {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  &__item-name {
    font-size: 16px;
    font-weight: 500;
  }

  &__item-profession {
    font-size: 16px;
    color: $paragraph-text-color;

    margin-top: 10px;
    margin-bottom: 16px;
  }

  &__social-list {
    @include centerFlex(inline-flex);

    li:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__social-link {
    &:hover,
    &:focus {
      background-color: $accent-text-color;

      .icon-social {
        fill: $dark-theme-text-color;
      }
    }
  }
}
