$main-text-color: #212121;
$main-background-color: #ffffff;
$paragraph-text-color: #757575;
$accent-text-color: #2196f3;
$dark-theme-text-color: #ffffff;

$hover-button-color: #188ce8;
$plain-button-color: #f5f4fa;
$border-color: #afb1b8;

$section-accent-color: #f5f4fa;
$transparent-background: rgba(47, 48, 58, 0.8);
$background-social: rgba(255, 255, 255, 0.1);
$timeDelay: 1ms;

$portfolio-border-color: #eeeeee;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$background-footer-color: #2f303a;
$overlay-modal-color: rgba(0, 0, 0, 0.2);
$modal-elements-border: rgba(33, 33, 33, 0.2);
$main-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
  0 1px 3px rgba(0, 0, 0, 0.12);

$font-body: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
